body {
  background-image:url("../resources/piranha-logo-animated.gif");
  background-repeat:no-repeat;
  background-size: 50%;
  background-attachment: fixed;
  background-position: bottom right;
  background-color: #F7F7F7;
  padding-top: 3em;
}

.checkout-heading{
	color: #23527c;
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
}

.cart-heading {
	color: #029f5b;
}

.buyer-info {
	background-color: #fff;
	border-color: #ccc;

}

.info-heading {
	text-align: center;
	padding-bottom: 20px;
}

.cart {
	background-color: #DCDCDC;
	padding-bottom: 10px;
	border-color: #ccc;
}

#cart-list > li {
	padding: 0 2px 10px;
	background-color: #DCDCDC;
}

.cart span {
	float: right;
}

.btn {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	margin-top: 25px;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn:hover,
.btn:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
